<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzen"
    android:installLocation="preferExternal"
    android:versionCode="3"
    android:versionName="0.6">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name="Mapzen"
        android:allowBackup="true"
        android:icon="@drawable/mapzen_icon_small"
        android:label="@string/app_name">

        <!-- CloudMade API key for tiles-->
        <meta-data
            android:name="CLOUDMADE_KEY"
            android:value="ad277c90dc7f454a945ada0d54520a01" />

        <activity
            android:name=".OsmLoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="osm_callback"
                    android:scheme="mapzen" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".ViewPoiActivity"
            android:label="@string/poi_info_screen_caption"/>

        <activity
            android:name=".EditPoiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/edit_poi_screen_caption"/>

        <activity
            android:name=".PoiGroupsListActivity"
            android:label="@string/select_category_screen_caption"/>
        <activity
            android:name=".PoiSubTypesListActivity"
            android:label="@string/select_sub_type_screen_caption"/>
        <activity
            android:name="MapzenPreferenceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/settings"/>
    </application>
</manifest>
